
@media screen and (max-width: 500px){
    .page_container{
        margin: auto;
        max-width: 92.5vw;
        text-align: center;
        }
}
    
@media screen and (min-width: 501px){
    .page_container{
            margin: auto;
            width: 500px;
            text-align: center;
        }
}
        


/* LOGIN-SIDAN*/

.login_page input[type="text"]{
    width: 70vw;
    height: 80px;
    border: none;
    background: white;
    text-align: center;
    border-radius: 85px;
}
