
@media screen and (max-width: 500px){
    .page_container{
        max-width: 92.5vw;
        
        }
}
    
@media screen and (min-width: 501px){
    .page_container{
            width: 500px;
            height: 100vh;
            border-radius: 50px;
        }

        body{
            background: cadetblue;
        }
        
}

.page_container{
    margin: auto;
    text-align: center;
    background: antiquewhite;
    margin-top: 2.5vh;
    padding-top: 30px;
}
 


/* LOGIN-SIDAN*/

header{
    font-family: 'Pacifico', cursive;
    font-size: xx-large;
}

.login_page input[type="text"], .login_page input[type="password"] {
    width: 70%;
    height: 80px;
    border: none;
    background: white;
    text-align: center;
    border-radius: 85px;
    margin: 10px;
}

.login_page input[type="submit"]{
    width: 150px;
    margin: 10px;
    height: 30px;
    border: none;
    background: #daab6c;
    border-radius: 15px;
    color: white;
    font-family: 'Abel', sans-serif;
    font-size: large;
}

/*REGISTER*/

.register_page h1{
    font-family: 'Abel', sans-serif;
}

.register_page input[name="first_name"]{
    width: 33% !important;
    border-radius: 85px 20px 20px 85px !important; 
    margin-right: 5px !important;
}
.register_page input[name="last_name"]{
    width: 33% !important;
    border-radius: 20px 85px 85px 20px !important;
    margin-left: 5px !important;
}


.register_page input[type="text"], .register_page input[type="password"], .register_page input[type="email"], .register_page input[type="tel"]{
    width: 70%;
    height: 80px;
    border: none;
    background: white;
    text-align: center;
    border-radius: 85px;
    margin: 10px;
}

.register_page input[type="submit"]{
    width: 150px;
    margin: 10px;
    height: 30px;
    border: none;
    background: #daab6c;
    border-radius: 15px;
    color: white;
    font-family: 'Abel', sans-serif;
    font-size: large;
}

/*HOME */
.home_page  .user_buttons{
    display: flex;
    position: relative;
    right: -71%;
    top: 0%;
    gap: 20px;
}
/* 
.settings_button{
    position: relative;
    top: auto;
    right: -40%;
} */

.settings_button img{
    width: 44px;
    color: tomato;
}

#chosen_car{
    max-width: 100%;
    margin: auto;
}

.avatar_background{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: auto;
    box-shadow: 5px 5px 5px grey;
    background: white;
    padding: 10px;
}

.avatar_background .license_number{
    z-index: 1;
    position: absolute;
    margin: auto;
    top: 250px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #daab6c;
    width: 150px;
    height: 50px;
    border-radius: 25px;
    font-family: 'Abel', sans-serif;
}

.avatar_background .license_number h2{
    position: relative;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.license_number a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}


.avatar_background img{
    max-width: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.options a{
    text-decoration: none;
    font-family: 'Abel', sans-serif;
}

.home_page .options article{
    width: 70%;
    margin: auto;
    background: rgb(255, 252, 247);
    height: 60px;
    border-radius: 30px;
    color: black;
}

.home_page .boka h3{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    text-decoration: none;
    font-size: xx-large;
}

.home_page .boka{
    text-decoration: none;
}

/*ADD VEHICLE*/

.add_vehicle form{
    max-width: fit-content;
}

.add_vehicle img{
    width: 70px;
}

/* Book */
.book_page form{
    position: relative;
    top: 70px
}

.book_page input[type="datetime-local"]{
    order: none;
    width: 57%;
    height: 0px;
    border: none;
    background: white;
    text-align: center;
    border-radius: 50px 50px 0 0;
    font-size: x-large;
    font-family: 'Abel', sans-serif;
    padding: 53px;
}

.book_page input[type="submit"]{
    position: relative;
    top: 30px;
    width: 150px;
    margin: 10px;
    height: 30px;
    border: none;
    background: #daab6c;
    border-radius: 15px;
    color: white;
    font-family: 'Abel', sans-serif;
    font-size: large;
}

.book_page .fillment{
    background: white;
    width: 78.3%;
    margin: auto;
    height: 210px;
    padding-top: 50px;
    border-radius: 0 0 50px 50px;
}

.book_page .fillment p{
    margin-top: 0;
    font-family: 'Abel', sans-serif;
    font-size: large;
    margin-left: 30px;
    margin-right: 30px;
}