
@media screen and (max-width: 500px){
    .page_container{
        margin: auto;
        max-width: 92.5vw;
        text-align: center;
        }
}
    
@media screen and (min-width: 501px){
    .page_container{
            margin: auto;
            width: 500px;
            text-align: center;
        }
}
        


/* LOGIN-SIDAN*/

.login_page input[type="text"]{
    width: 70vw;
    height: 80px;
    border: none;
    background: white;
    text-align: center;
    border-radius: 85px;
}


/*HOME */

#chosen_car{
    max-width: 100%;
    margin: auto;
}

.avatar_background{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: auto;
    box-shadow: 5px 5px 5px grey;
}

.avatar_background .license_number{
    z-index: 1;
    position: absolute;
    margin: auto;
    top: 150px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: lightgrey;
    width: 150px;
    height: 50px;
    border-radius: 25px;
}

.avatar_background .license_number h2{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.avatar_background img{
    max-width: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.options a{
    text-decoration: none;
    font-family: 'Abel', sans-serif;
}

.home_page .options article{
    width: 70%;
    margin: auto;
    background: antiquewhite;
    height: 60px;
    border-radius: 30px;
}

.home_page .boka h3{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    text-decoration: none;
    font-size: xx-large;
}

.home_page .boka{
    text-decoration: none;
}

/*ADD VEHICLE*/

.add_vehicle form{
    max-width: fit-content;
}

.add_vehicle img{
    width: 70px;
}